body{
    padding:0;
    margin:0;
}
.h1{
    margin: 15px;
    text-align: center;  
}
.w-100{
    background-color: #283971;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
}

